:root{
    --primary: #FB8F1D;
    --primary-dark: #f07c00;
    --color-text: #202336;
    --color-text-light: #7D7987;
    --color-text-select: #4A4C53;
    --footer: #F9F9FB;
    --text-footer: #848484;
}

.content{
    width: 80%;
    margin: 0 auto;
}

#banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#topo{
    position: relative;
    z-index: 10;
}

#topo .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
}

#topo .content h1 a img{
    width: 3.19813vw;
    height: 3.19813vw;
}

#navigation ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navigation ul li{
    margin-left: 2.73011vw;
}

#navigation ul li:first-child{
    margin-left: 0;
}

#navigation ul li a{
    text-decoration: none;
    color: var(--color-text-light);
    line-height: 1.48206vw;
    font: 500 1.24805vw 'Inter', sans-serif;
    transition: 0.2s;
}

#navigation ul li a:hover{
    color: var(--color-text);
}

#navigation ul li.active a{
    color: var(--color-text);
}

#navigation ul li.buttonHeader{
    border-radius: 0.62402vw;
}

#navigation ul li.buttonHeader.full{
    background: var(--primary);
    margin-left: 1.5vw;
}

#navigation ul li.buttonHeader.full a{
    color: #fff;
}

#navigation ul li.buttonHeader a{
    color: var(--primary);
    font-size: 1.17005vw;
    font-weight: 500;
    width: 9.75039vw;

    
    border-radius: 0.62402vw;
    padding: 0.78003vw 0;
    border: 0.07800vw solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerBanner{
    position: absolute;
    bottom: 0;
    /* top: 50%;
    transform: translateY(-50%); */
    height: 100%;
    width: 100vw;
    min-height: 50vh;

    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}

@media (min-height: 1080px){
    #containerBanner{
        top: 50%;
        transform: translateY(-50%);
    }
}

#containerBanner .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerBanner .content > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;
}

#containerBanner .content .rightBox img{
    width: 100%;
}

#containerBanner .content .leftBox img.icon{
    position: absolute;
    width: auto;
}

#containerBanner .content .leftBox img.icon:nth-child(1){
    top: 1vw;
    right: 6vw;
    width: 1.56006vw;
}

#containerBanner .content .leftBox img.icon:nth-child(2){
    left: -6.63027vw;
    width: 1.95008vw;   
}

#containerBanner .content .leftBox img.icon:nth-child(3){
    right: 0;
    bottom: -0.31201vw;
    width: 1.48206vw;
}

#containerBanner .content .leftBox h1{
    font-size: 4.99220vw;
    font-weight: bold;
    line-height: 6.24025vw;
    color: var(--color-text);
    margin-bottom: 3vw;
}

#containerBanner .content .leftBox h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.71607vw;
    line-height: 2.10608vw;
    position: relative;
    padding-bottom: 1.63807vw;
    margin-bottom: 2vw;
}

#containerBanner .content .leftBox h3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2.49610vw;
    height: 0.15601vw;
    background: var(--color-text);
}

#containerBanner .content .leftBox .gridInputsBanner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.34009vw;
    /* background: red; */
    width: 80%;
    margin-bottom: 3vw;
}

#containerBanner .content .leftBox .gridInputsBanner select{
    height: 4.05616vw;
    border: 0.06240vw solid #AFB0B9;
    border-radius: 0.46802vw;
    padding: 0 1.56006vw;
    font-size: 1.17005vw;
    line-height: 2.49610vw;
}

#containerBanner .content .leftBox .gridInputsBanner select option{
    color: var(--color-text-select);
    font-size: 1.17005vw;
    font-family: 'Inter', sans-serif;
    line-height: 2.49610vw;
}

#way{
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#way .content{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#way .content > div{
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#way .content .imageWay img{
    width: 100%;
}

#way .content .imageWay img.icon{
    position: absolute;
    width: auto;
    top: 0;
    right: -2.02808vw;
    transform: rotate(7.49deg)
}


#way .content .textWay{
    padding-left: 7.95632vw;
    /* justify-content: center; */
    align-items: flex-start;
}

#way .content .textWay h2{
    font-size: 2.80811vw;
    line-height: 3.90016vw;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 1.56006vw;
}

#way .content .textWay p{
    font: 300 1.32605vw 'Inter', sans-serif;
    line-height: 2.34009vw;
    margin-bottom: 2.57410vw;

    color: var(--color-text-light);

}

#destinations{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#destinations .content{
    position: relative;
}

#destinations .content header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4.40252vw;
}

#destinations .content header h2{
    font-size: 2.83019vw;
    line-height: 3.93082vw;
    color: var(--color-text);
}

#destinations .content header a{
    color: var(--primary);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.33648vw;
    line-height: 4.71698vw;
}

#destinations .content header a img {
    margin-left: 0.86478vw;
    height: 100%;
}

#destinations .content div.destinations{
    /* display: grid;
    grid-template-columns: 36.71384vw 36.71384vw 36.71384vw 36.71384vw;
    gap: 2.12264vw;
    place-items: center;
    place-content: center; */

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center

}

#destinations .content .icon{
    position: absolute;
}

#destinations .content .icon.i1{
    top: 0;
    right: 13.12893vw;
    width: 1.57233vw;
    height: 1.57233vw;
}
#destinations .content .icon.i2{
    top: calc(75% - 1.57233vw);
    left: -5.79560vw;
    transform: rotate(7.49deg);
}
#destinations .content .icon.i3{
    bottom: -4.06604vw;
    left: calc(50% - 1.56918vw);
    width: 1.56918vw;
    height: 1.56918vw;
}



#sunny{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#sunny .content{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sunny .content > div{
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#sunny .content .imageSunny img{
    width: 100%;
}

#sunny .content .textSunny{
    padding-right: 6.28931vw;
    align-items: flex-start;
}

#sunny .content .textSunny h2{
    color: var(--color-text);

    font-weight: bold;
    font-size: 2.83019vw;
    line-height: 3.93082vw;

    margin-bottom: 1.57233vw;
}

#sunny .content .textSunny p{
    line-height: 2.35849vw;
    font: 300 1.33648vw 'Inter', sans-serif;

    color: var(--color-text-light);

    margin-bottom: 2.59434vw;
}

#sunny .icon{
    position: absolute;
}

#sunny .icon.i1{
    top: 9.43396vw;
    right: 10.14072vw;
    transform: rotate(9.99deg);
    width: 1.25786vw;
    height: 1.25786vw;
}
#sunny .icon.i2{
    left: 22.40566vw;
    top: 10.43396vw;
    width: 1.25786vw;
    height: 1.25786vw;
}
#sunny .icon.i3{
    left: 42vw;
    bottom: 16.43396vw;
    width: 1.56918vw;
    height: 1.56918vw;
    transform: rotate(20.42deg);
}